body {
	max-height: 100%;
	overflow: hidden;
}
#messages li a {
	color: inherit;
}
#messages li a:hover, a:active, a:focus {
	color: inherit;
}
.main-content {
	text-align: center;
}
form { 
	padding: 3px; 
	width: 100%; 
	position: fixed;
	left:0;
	right:0;
}
form input { 
	border: 0;
	border-bottom: 2px solid black;
	padding: 10px; 
	width: 30%; 
	text-align: center;
	font: 30px Helvetica, Arial;
}
form input:focus {
	outline: none;
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	padding-top: 50px; 
	width: 100%;
	text-align: center;
	font: 30px Helvetica, Arial;
	text-align: center;
	word-wrap: break-word;
}
#messages li {
	padding-top: 20px;
	text-align: center;
}
#menu {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	padding: 5px;
	text-align: right;
}
.embed-image {
	max-width: 200px;
	max-height: 200px;
}
#alertsound {
	display: none;
}