body {
	max-height: 100%;
	overflow: auto;
}
#messages li a {
	color: inherit;
}
#messages li a:hover, a:active, a:focus {
	color: inherit;
}
.main-content {
	text-align: center;
}
form { 
	width: 100%; 
	position: fixed;
	left:0;
	right:0;
}
form input { 
	border: 0;
	border-bottom: 2px solid black;
	padding: 10px; 
	width: 30%; 
	text-align: center;
	font: 30px Helvetica, Arial;
}
form input:focus {
	outline: none;
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	padding-top: 50px; 
	width: 100%;
	text-align: center;
	font: 30px Helvetica, Arial;
	text-align: center;
	word-wrap: break-word;
}
#messages li {
	padding-top: 20px;
	text-align: center;
}
#menu {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	padding: 5px;
	text-align: right;
}
.embed-image {
	max-width: 500px;
	max-height: 500px;
}
#alertsound {
	display: none;
}
#invite-friends {
	display: none;
	width: 100%;
	height: 100%;
	position:fixed;
    padding:0;
    margin:0;
	z-index: 2;
	background-color: rgba(51, 51, 51, 0.6);
	text-align: center;
	top: 0;
	left: 0;
}
#invite-friends .invite-content {
	display: inline-block;
	position: relative;
	top: 30%;
	transform: translateY(-70%);
	text-align: center;
	background-color: #FFFFFF;
	border: 2px solid #007ACC;
	border-radius: 20px;
	width: 50%;
	padding: 20px;
}
#invite-friends .send-invites {
	display: none;
	margin-top: 20px;
	border: 1px #606060 solid;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 25px;
}
.send-invites input {
	font-size: 20px;
	height: auto;
}